* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
.navbar {
  background-color: #8bf147ef;
  height: 90px;
  font-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#navbar-brand {
  font-size: 30px;
  color: white;
}
.offcanvas-title {
  font-size: 27px;
}
.navbar-brand {
  font-size: 28px;
}
.login-button {
  color: white;
  text-decoration: none;
  background-color: red;
  padding: 5px 20px;
  border-radius: 10px;
  margin-right: 10px;
}
/*-------------------------ABOUT US PAGE--------------------*/
.carousel img {
  width: 100%;
  height: 680px;
  object-fit: cover;
  background-position: center;
}
.carousel {
  padding: 0 5px;
}
#prev-icon {
  color: red !important;
}
button span {
  color: goldenrod !important;
}
