body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #454545;
}
.card {
  width: 28rem !important;
  padding: 30px 30px;
}
input[type="number"] {
  outline: none !important;
}
