* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1ac95;
}
.login-button {
  background-color: #f39f5a;
  color: #ffff;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  list-style-type: none;
  text-decoration: none;
}
.login-button:hover {
  background-color: #f54952;
  color: white;
}
#navbar {
  background-color: #e8bcb9;
  color: #ffff;
  border: none;
  outline: none;
  margin-left: 10px;
}
.btn-close:focus {
  background-color: #e8bcb9;
}

/*------HEADER---*/
#navbar-brand {
  color: #1d1a39;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  font-size: 28px;
}
.navbar {
  height: 90px;
  background-color: #ffff;
  box-shadow: 0px 0px 10px rgb(26, 18, 18), 0px 0px 10px rgb(26, 22, 22);
}

#nav-link {
  color: #f54952;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  position: relative;
}
.nav-link:hover {
  border-bottom: 2px solid greenyellow;
}

.hero-section {
  background-image: url("../IMAGES/about\ us\ logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  background-image: transparent;
}
