* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1ac95;
}
.login-button {
  background-color: #f39f5a;
  color: #ffff;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  list-style-type: none;
  text-decoration: none;
}
.login-button:hover {
  background-color: #f54952;
  color: white;
}
#navbar {
  background-color: #e8bcb9;
  color: #ffff;
  border: none;
  outline: none;
  margin-left: 10px;
}
.btn-close:focus {
  background-color: #e8bcb9;
}

/*------HEADER---*/
#navbar-brand {
  color: #1d1a39;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  font-size: 28px;
}
.navbar {
  height: 90px;
  background-color: #ffff;
  box-shadow: 0px 0px 10px rgb(26, 18, 18), 0px 0px 10px rgb(26, 22, 22);
}

#nav-link {
  color: #f54952;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  position: relative;
}
.nav-link:hover {
  border-bottom: 2px solid greenyellow;
}
#carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(50, 146, 130);
}
.carousel-item,
#button-prev {
  color: rgb(224, 206, 206) !important;
  font-size: 50px !important;
}
img {
  width: 300px !important;
  margin-left: -150px;
  height: 300px !important;
}
.carousel-item .control-prev {
  color: white;
}
/*---------------CARD-DESIGNING-------*/
#row {
  margin-top: 23px;
}
.col {
  width: 500px;
  height: 600px;
  background-color: red;
  padding: 10px;
}
#card {
  width: 400px;
  text-align: center;
  background-color: rgb(224, 165, 165);
  margin-left: 50px;
  margin-top: 30px;
}
#card-img {
  margin-left: 69px;
  padding: 20px;
}
